* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

h1 {
    font-size:4.5rem;
}

h2 {
    font-size:3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size:2rem;
}

h5 {
    font-size:1.5rem;
}

.confirm-btn {
    margin: 2rem;
    width: 10rem;
}

/*****************Landing page*********************/
#hero-image {
    background-image: url("../images/highway.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
   
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafafa;
    text-align: center;
    font-family: 'Lato', 'Times', Arial;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.7rem;
    border: 2px solid white;
}


/*****************Navbar*********************/
nav {
    line-height: 30px;
} 

/*nav.nav-extended .nav-wrapper {
    min-height: 7rem;
} */

nav .brand-logo {
    font-size: 1.75rem;
}

/*****************Profile*********************/

.profile-card {
    width: 20rem;
    height: auto;
    margin: 1rem auto 0 auto;
}

.profile-card-title {
    top: 5.75rem;
}

#profile-text {
    font-size: 1rem;
}

.delete-acct-btn {
    margin: 2.5rem;
}

/*****************How to use this site*********************/
.embed-responsive-item {
  width: 80%;
  height: auto;
  margin: 5rem auto auto auto;
  display: block;
}



/*****************Terms*********************/
.btn-small {
    margin: 1rem;
}

.search {
    margin-top: 2rem;
}

.search-btn {
    width: 10rem;
    margin: 0.5rem;
}

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 8rem;
    font-size: 0.8rem;
    font-weight: 700;    
}

.search-panel {
    margin: .25rem 0 1rem 0;
    padding: .2rem;
}

.collapsible-header {
    margin: 0.5rem;
    line-height: 2.5rem;
}

.definition {
    font-size:1.5rem;
}

.term {
    font-size:1.5rem;
    margin: 1rem;
}

.term-btn {
    width: 5.25rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.term-btn-defs {
    margin: 1rem 1rem 1rem auto;
}
/*****************Topics*********************/

.topic_img {
    height: 20rem;
}

.topic-card {
    margin-bottom: 8rem;
}

.topic-btn {
    width: 90%;
}

#add-topic_btn {
    margin: 3rem 0 2rem 0;
}


/*****************get_topic.html*********************/

.get-topic-img {
    width: 20rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*****************delete.html*********************/
#delete-account-btn {
    width: 20rem;
    height: auto;
    margin: 1rem auto 0 auto;
}


/*****************Media queries*********************/

/*****************Base.html******************/
@media only screen and (min-width: 280px) {
    .page-name {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1024px) {
    .page-name {
        visibility: visible;
    }
}

/***********Homepage**************/
@media only screen and (min-width: 1024px) {
#hero-image {
    background-image: url("../images/f1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    }

    /*************How to use page****************/
    @media only screen and (min-width: 800px) {
         .embed-responsive-item {
            width: 43rem;
            height: 33rem;
        }
    }

    /*****************Profile*********************/
@media only screen and (min-width: 300px) {
    .profile-card {
        width: 30rem;
        height: auto;
        margin: 1rem auto 0 auto;
        }

    .profile-card-title {
        top: 11rem;
    }
}

}

@media only screen and (min-width: 1280px) {

/***********navbar**************/
    nav .brand-logo {
        font-size: 2rem;
        margin: 1.2rem;
    }

    nav ul {
        margin-right: 1.5rem;
    }

    nav ul a {
        font-size: 1.01rem;
        margin: 1.4rem 0.4rem 1.1rem 0.1rem;
    }

    nav.nav-extended .nav-wrapper {
        min-height: 4.75rem;
    }

}

/**************Register and Login pages**************/
.enter-btn {
    width: 100%;
}

/**************Terms page**************/
@media only screen and (min-width: 280px) {
.search-btn {
    width: 6rem;
    margin: 0.5rem;
    } 

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 5rem;
    font-size: 0.55rem;
    padding: 1.5rem;
    line-height: 0.9rem;   
    }

.multi-line-btn {
    padding: 1rem;  
    } 

}

@media only screen and (min-width: 320px) {
.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 6rem;
    padding: 1.5rem; 
    font-size: 0.7rem; 
    } 

.multi-line-btn {
    padding: 1rem;  
    } 
}

@media only screen and (min-width: 760px) {
.search-btn {
    width: 10rem;
    margin: 0.5rem;
    }

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 14rem;
    font-size: 1rem;
    font-weight: 700;    
    }
    
.multi-line-btn {
    padding: 1.5rem;  
    } 

}

/*****************get_topic.html*********************/
@media only screen and (min-width: 280px) {
    .get-topic-img {
        width: 15rem;
    }
}

@media only screen and (min-width: 320px) {
    .get-topic-img {
        width: 20rem;
    }
}

@media only screen and (min-width: 1440px) {
/***********navbar**************/
    nav .brand-logo {
        font-size: 2.75rem;
        margin: 1.9rem;
    }

    nav ul a {
        font-size: 1.1rem;
        margin: 2.2rem 0.1rem;
    }

}