* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

h1 {
    font-size:4.5rem;
}

h2 {
    font-size:3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size:2rem;
}

h5 {
    font-size:1.5rem;
}

.confirm-btn {
    margin: 2rem;
    width: 10rem;
}

/*****************Landing page*********************/
#hero-image {
    background-image: url("../images/highway.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
   
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafafa;
    text-align: center;
    font-family: 'Lato', 'Times', Arial;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.7rem;
    border: 2px solid white;
}


/*****************Navbar*********************/
nav {
    line-height: 30px;
} 

/*nav.nav-extended .nav-wrapper {
    min-height: 7rem;
} */

nav .brand-logo {
    font-size: 1.75rem;
}

/*****************Profile*********************/

.profile-card {
    width: 20rem;
    height: auto;
    margin: 1rem auto 0 auto;
}

.profile-card-title {
    top: 5.75rem;
}

#profile-text {
    font-size: 1rem;
}


/*****************Terms*********************/
.btn-small {
    margin: 1rem;
}

.search {
    margin-top: 3rem;
}

.terms-btn {
    margin: 2rem auto 2rem auto;
    width: 8rem;
    font-size: 1rem;
    font-weight: 700;    
}

.collapsible-header {
    margin: 0.5rem;
    line-height: 5rem;
}

.definition {
    font-size:1.5rem;
}

.term {
    font-size:1.5rem;
    margin: 1rem;
}

.term-btn {
    width: 5.25rem;
}

.fa-thumbs-up, .fa-thumbs-down {
    font-size:1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: grey;
}

#rating-text {
    margin-bottom: 1.1rem;
    margin-right: 3rem;
    color: grey;
}
/*****************Topics*********************/

.topic_img {
    height: 20rem;
}

.topic-card {
    margin-bottom: 8rem;
}

.topic-btn {
    width: 14rem;
}

#add-topic_btn {
    margin: 3rem 0 2rem 0;
}


/*****************get_topic.html*********************/

.get-topic-img {
    width: 20rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*****************delete.html*********************/
#delete-account-btn {
    width: 20rem;
    height: auto;
    margin: 1rem auto 0 auto;
}


/*****************Media queries*********************/

/***********Homepage**************/
@media only screen and (min-width: 1024px) {
#hero-image {
    background-image: url("../images/f1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    }

    /*****************Profile*********************/

.profile-card {
    width: 30rem;
    height: auto;
    margin: 1rem auto 0 auto;
    }

.profile-card-title {
    top: 11rem;
}

}

@media only screen and (min-width: 1280px) {

/***********navbar**************/
    nav .brand-logo {
        font-size: 2rem;
        margin: 1.2rem;
    }

    nav ul {
        margin-right: 1.5rem;
    }

    nav ul a {
        font-size: 1.01rem;
        margin: 1.4rem 0.4rem 1.1rem 0.1rem;
    }

    nav.nav-extended .nav-wrapper {
        min-height: 4.75rem;
    }

}


@media only screen and (min-width: 1440px) {
/***********navbar**************/
    nav .brand-logo {
        font-size: 2.75rem;
        margin: 1.9rem;
    }

    nav ul a {
        font-size: 1.1rem;
        margin: 2.2rem 0.1rem;
    }

}