/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
}

h1 {
    font-size:4.5rem;
}

h2 {
    font-size:3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size:2rem;
}

h5 {
    font-size:1.5rem;
}

.confirm-btn {
    margin: 2rem;
    width: 10rem;
}

/*****************Navbar*********************/
nav {
    line-height: 30px;
} 

nav .brand-logo {
    font-size: 1.75rem;
}

/*****************Landing page*********************/
#hero-image {
    background-image: url("../images/highway.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
   
}

#hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fafafa;
    text-align: center;
    font-family: 'Lato', 'Times', Arial;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.7rem;
    border: 2px solid white;
}


/**************Register and Login pages**************/
.enter-btn {
    width: 100%;
}

/*****************Profile*********************/
.card .card-image img {
    margin-top: 3rem;
}

.card .card-image .card-title {
    padding: 0.8rem;
}

.welcome-msg {
    margin-top: 2.5rem;
}

.delete-acct-btn {
    margin: 2rem;
}

.delete-msg {
    font-size: 1.5rem;
}

.confirm-btn {
    margin: .5rem;
}

/*****************How to use this site*********************/

.embed-responsive-item {
  width: 90%;
  height: 9.8rem;
  margin: 2rem auto auto auto;
  display: block;
}




/*****************Terms*********************/
.btn-small {
    margin: 1rem;
}

.search {
    margin-top: 2rem;
}

.search-btn {
    width: 10rem;
    margin: 0.5rem;
}

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 8rem;
    font-size: 0.8rem;
    font-weight: 700;    
}

.search-panel {
    margin: .25rem 0 1rem 0;
    padding: .2rem;
}

.collapsible-header {
    margin: 0.5rem;
    line-height: 2.5rem;
}

.definition {
    font-size:1.5rem;
}

.term {
    font-size:1.5rem;
    margin: 1rem;
}

.term-btn {
    width: 5.25rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.term-btn-defs {
    margin: 1rem 1rem 1rem auto;
}
/*****************Topics*********************/

.topic_img {
    height: 20rem;
}

.topic-card {
    margin-bottom: 8rem;
}

.topic-btn {
    width: 100%;
}

#add-topic_btn {
    margin: 3rem 0 2rem 0;
}


/*****************get_topic.html*********************/

.get-topic-img {
    width: 20rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*****************delete.html*********************/
#delete-account-btn {
    width: 20rem;
    height: auto;
    margin: 1rem auto 0 auto;
}


/*****************Media queries*********************/

/*****************Base.html******************/
@media only screen and (min-width: 320px) {
    .page-name {
        visibility: hidden;
    }
    nav .brand-logo {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1025px) {
    .page-name {
        visibility: visible;
    }
    nav .brand-logo {
        visibility: visible;
    }
}


@media only screen and (min-width: 1440px) {
    .nav-extended {
        min-height: 6rem;
    }
}


/***********Homepage**************/
@media only screen and (min-width: 320px) {
    #hero-text {
        width: 9rem;
        height: 11rem;
        border: 0.15rem solid white;
    }

    #hero-text h5 {
        font-size: 1.3rem;
        line-height: 185%;
    }
}

@media only screen and (min-width: 375px) {
    #hero-text {
        width: 11rem;
        height: 12rem;
        border: 0.175rem solid white;
    }

    #hero-text h5 {
        font-size: 1.6rem;
        line-height: 175%;
    }
}

@media only screen and (min-width: 568px) {
    #hero-text {
        width: 7rem;
        height: 7rem;
    }

    #hero-text h5 {
        font-size: 1rem;
        line-height: 115%;
    }
}

@media only screen and (min-width: 720px) {
    #hero-text {
        width: 9rem;
        height: 10rem;
    }

    #hero-text h5 {
        font-size: 1.4rem;
        line-height: 145%;
    }
}

@media only screen and (min-width: 768px) {
    #hero-text {
        width: 18rem;
        height: 18rem;
        border: 0.25rem solid white;
    }

    #hero-text h5 {
        font-size: 3rem;
        line-height: 155%;
    }
}

@media only screen and (min-width: 812px) {
    #hero-text {
        width: 9rem;
        height: 9rem;
        border: 0.15rem solid white;
    }

    #hero-text h5 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1024px) {
    #hero-text {
        width: 15.5rem;
        height: 15.5rem;
        border: 0.25rem solid white;
    }

    #hero-text h5 {
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 1025px) {
    #hero-text {
        visibility: hidden;
    }
}

@media only screen and (min-width: 1025px) {
#hero-image {
    background-image: url("../images/f1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    }
}

/*****************profile.html*********************/
@media only screen and (min-width: 300px) {
    .profile-card {
        width: 20rem;
        height: auto;
        margin: 1rem auto 0 auto;
        }
    }


/*****************delete.html*********************/

@media only screen and (min-width: 300px) {
    .delete-card {
        width: 20rem;
        height: auto;
        margin: 1rem auto 0 auto;
        }
    }

/*************How to use page****************/

@media only screen and (min-width: 411px) {
.embed-responsive-item {
    height: 12rem;;
    }
}

@media only screen and (min-width: 540px) {
.embed-responsive-item {
    height: 16.5rem;
    }
}

@media only screen and (min-width: 768px) {
.embed-responsive-item {
    height: 22rem;
    }
}

@media only screen and (min-width: 1024px) {
.embed-responsive-item {
    width: 95%;
    height: 25rem;;
    }
}




/***********navbar**************/
@media only screen and (min-width: 568px) {
    .side-nav-title {
        font-size: 1.25rem;
    }
    .sidenav li a {
        height: 2.7rem;
        font-size: 1rem;
        line-height: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .side-nav-title {
        font-size: 2rem;
    }

    .sidenav li a {
        font-size: 1.5rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 812px) {
    .side-nav-title {
        font-size: 2rem;
    }

    .sidenav li a {
        height: 2.7rem;
        font-size: 1rem;
        line-height: 3rem;
    }
}


/***********navbar**************/
@media only screen and (min-width: 1280px) {
    nav .brand-logo {
        font-size: 2rem;
        margin: 1.2rem;
    }

    nav ul {
        margin-right: 1.5rem;
    }

    nav ul a {
        font-size: 1.01rem;
        margin: 1.4rem 0.4rem 1.1rem 0.1rem;
    }

    nav.nav-extended .nav-wrapper {
        min-height: 4.75rem;
    }

}

/**************Terms page**************/
@media only screen and (min-width: 320px) {
.search-btn {
    width: 6rem;
    margin: 0.5rem;
    } 

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 5rem;
    font-size: 0.55rem;
    padding: 1.5rem;
    line-height: 0.9rem;   
    }

.multi-line-btn {
    padding: 1rem;  
    } 

}

@media only screen and (min-width: 320px) {
.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 6rem;
    padding: 1.5rem; 
    font-size: 0.7rem; 
    } 

.multi-line-btn {
    padding: 1rem;  
    } 
}

@media only screen and (min-width: 760px) {
.search-btn {
    width: 10rem;
    margin: 0.5rem;
    }

.terms-btn {
    margin: 0.5rem auto 0.5rem auto;
    width: 14rem;
    font-size: 1rem;
    font-weight: 700;    
    }
    
.multi-line-btn {
    padding: 1.5rem;  
    } 

}

/*****************get_topic.html*********************/
@media only screen and (min-width: 320px) {
    .get-topic-img {
        width: 20rem;
    }
}

@media only screen and (min-width: 1440px) {
/***********navbar**************/
    nav .brand-logo {
        font-size: 2.75rem;
        margin: 1.9rem;
    }

    nav ul a {
        font-size: 1.1rem;
        margin: 2.2rem 0.1rem;
    }
}

/***********topics cards margins***********/
@media only screen and (min-width: 320px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 9rem;
    }
}

@media only screen and (min-width: 360px) {
    .student-topics-view .col.m4 {
        margin-bottom: 1rem;
    }
    .admin-topics-view .col.m4 {
        margin-bottom: 11rem;
    }
}

@media only screen and (min-width: 375px) {
    .student-topics-view .col.m4 {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 411px) {
    .student-topics-view .col.m4 {
        margin-bottom: 3rem;
    }
    .admin-topics-view .col.m4 {
        margin-bottom: 13rem;
    }
}

@media only screen and (min-width: 540px) {
    .student-topics-view .col.m4 {
        margin-bottom: 9rem;
    }
    .admin-topics-view .col.m4 {
        margin-bottom: 19rem;
    }
}

@media only screen and (min-width: 640px) {
    .student-topics-view .col.m4 {
        margin-bottom: 0rem;
    }
    .admin-topics-view .col.m4 {
        margin-bottom: 4rem;
    }
    .topic-btn {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 731px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 5rem;
    }
    .topic-btn {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 6rem;
    }
}

@media only screen and (min-width: 823px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 7rem;
    }
}

@media only screen and (min-width: 1280px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 9rem;
    }
}

@media only screen and (min-width: 1336px) {
    .admin-topics-view .col.m4 {
        margin-bottom: 10rem;
    }
}

/***********Confirm term, topic and account btns**************/
@media only screen and (min-width: 800px) {
    .delete-msg {
        font-size: 2.5rem;
    }

    .confirm-btn {
        margin: .5rem 2rem 2rem 2rem;
    }
}