{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Add a topic</h3>

    <div class="row card-panel grey lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('add_topic') }}">
            <!--Field to enter topic-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix red-text text-darken-4"></i>
                    <input id="topic_name" name="topic_name" maxlength="60"
                     type="text" class="validate" required>
                    <label for="topic_name">Topic</label>
                </div>
            </div>            
            <!--Form submission button-->
            <button class="btn col s12 center-align red darken-4" type="submit">Add topic
                <i class="fas fa-plus-square right"></i>
            </button>
        </form>
  </div>
{% endblock %}