{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Hit the button below to delete your account.</h3>
        <div class="col s12">
            <!-- Modal Trigger -->
            <a id="delete-account-btn" class=" btn modal-trigger red darken-1" href="#modal">Delete account</a>
            <!-- Modal Structure -->
            <div id="modal" class="modal modal-fixed-footer">
                <div class="modal-content black-text center-align">
                    <h2>Do you really want to delete your account?</h2>
                    <a href="{{ url_for('delete_user', username=username) }}" 
                    class="modal-close red darken-4 btn-large confirm-btn">Yes</a>
                    <a href="#!" class="modal-close amber darken-4 btn-large confirm-btn">No</a>
                </div>
            </div>
        </div>

 


{% endblock %}