{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">{{ topic.topic_name  }}</h3>
    <div class="card get-topic-img center-align">
        <div class="card-image">
            <!--Images via URL to allow new images to be uploaded 
            when admin adds a new category -->
            <img src="{{ topic.img_url }}">
        </div>
    </div>
    <h5 class="center-align">Click a term to reveal its definition.</h5>

    {% for term in terms %}
        {% if term.topic_name == topic.topic_name  %}
            {% if terms|length > 0 %}
            <ul class="collapsible popout">
                <li>
                    <div class="collapsible-header white-text grey darken-2">
                        <!--Restricts editing and deleting rights to entry authors and admin-->
                        {% if session["user"] == term.created_by or session["user"] == "rossclark" %}
                            <div class="col s3">
                                <a href="{{ url_for('edit_term', term_id=term._id) }}" class="amber darken-3 btn term-btn">Edit</a>
                                <!-- Modal Trigger -->
                                <!--href and id set to 'modal{{ loop.index }}' as each modal needs a unique id-->
                                <a class=" btn modal-trigger red darken-1 term-btn" href="#modal{{ loop.index }}">Delete</a>
                                <!-- Modal Structure -->
                            <div id="modal{{ loop.index }}" class="modal modal-fixed-footer">
                                <div class="modal-content black-text center-align">
                                    <h2>Do you really want to delete this term?</h2>
                                    <a href="{{ url_for('delete_term', term_id=term._id) }}" 
                                    class="modal-close red darken-4 btn-large confirm-btn">Yes</a>
                                    <a href="#!" class="modal-close amber darken-4 btn-large confirm-btn">No</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        <div class="col s9">
                            <strong class="term">{{ term.term_name }}</strong>
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>         
                    <div class="collapsible-body">
                        <p class="definition">{{ term.definition }}</p><br>
                        <strong>Term from Course Book unit: {{ term.topic_name }}</strong>
                        <p><em>Source of definition: {{ term.definition_source }}</em></p>
                        <p><em>by: {{ term.created_by }}</em></p>
                    </div>
                </li>
            </ul>
            {% else %}
                <h3 class="red-text darken-4 center-align">NO RESULTS FOUND</h3>
            {% endif %}
        {% endif %}
    {% endfor %}
            

{% endblock %}