{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">All course vocabulary</h3>
    <h5 class="center-align">Click a term to reveal its definition.</h5>

    <ul class="collapsible popout">
        {% for term in terms %}
        <li>
            <div class="collapsible-header white-text grey darken-2">
                <!--Restricts editing and deleting rights to entry authors and admin-->
                {% if session["user"] == term.created_by or session["user"] == "rossclark" %}
                    <div class="col s3">
                        <a href="{{ url_for('edit_term', term_id=term._id) }}" class="amber darken-3 btn-small">Edit term</a>
                        <a href="" class="red darken-1 btn-small">Delete term</a>
                    </div>
                {% endif %}
                <div class="col s9">
                    <strong class="term">{{ term.term_name }}</strong>
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <div class="collapsible-body">
                <p class="definition">{{ term.definition }}</p><br>
                <strong>Term from Course Book unit: {{ term.topic_name }}</strong>
                <p><em>Source of definition: {{ term.definition_source }}</em></p>
                <p><em>by: {{ term.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}