{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Terms by topic</h3>
    <h5 class="center-align">Click a topic to reveal the related terms.</h5>

    <!--Restricts add topic rights to admin-->
    {% if session["user"] == "rossclark" %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_topic') }}" class="btn-large red darken-4 text-shadow">
                Add topic <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2018/01/20/19/05/auto-3095196_960_720.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">Design</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2016/10/13/17/38/car-engine-1738366_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">The engine</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2016/11/18/12/53/automobile-1834279_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">The interior</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2018/03/17/16/28/audi-3234422_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">The exterior</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2016/03/27/19/29/england-1283853_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">Public transport</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2020/06/30/08/54/ferrari-5355660_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">Formula 1</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2017/05/10/19/16/electric-charge-2301604_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">Electric cars</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2016/04/24/11/18/citroen-1349208_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">Hydrogen cars</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2014/12/08/21/25/business-561388_1280.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-action center-align">
                        <a href="#" class="btn center-align red darken-4">Presentations</a>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}