{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Terms by topic</h3>
    <h5 class="center-align">Click a topic to reveal the related terms.</h5>

    <div class="row">
        {% for topic in topics %}
        <div class="col s12 m4 topic_img">
            <div class="card">
                <div class="card-image">
                    <img src="{{ topic.img_url }}">
                </div>
                <div class="card-action center-align">
                    <a href="#" class="btn red darken-4">{{ topic.topic_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}